<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>nombre</th>
				<th>direccion</th>
				<th>fecha</th>
			</tr>
		</thead>
		<tbody>
			 <tr th:each="escuela:${escuelas}">
			 	<td th:text=${escuela.id}></td><!-- llama a los get -->
			 	<td th:text=${escuela.nombre}></td>
			 	<td th:text=${escuela.direccion}></td>
			 	<td th:text=${escuela.createAt}></td>
			 </tr>
		</tbody>
	</table>

</body>
</html>